body{
    font-family:Arial, Verdana, Helvetica, sans-serif;
    font-size:11px;
}

/*
div{
    border:1pt solid green;
}
*/

#container{
    max-width:1004px; /* 2 * .item width + 4 * .item margin + 4 * div border */
    min-width:502px; /* 1 * .item width + 2 * .item margin + 2 * div border */
}

.item{
    width:480px;
    margin:10px;
    float:left;
}
.thumbnailbox{ /* responsible for the cropping */
    width:80px;
    height:80px;
    overflow:hidden;
    border:solid 5px #ffffff;
    border-radius:10px;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius:10px;
}
.thumbnailcontainer{ /* responsible for centering the image */
    width:1080px; /* = 1000 + thumbnailsize (random 'very wide') */
    margin-left:-500px; /* = (containerwidth - thumbnailsize) / 2 */
    text-align:center;
}
.thumbnailportrait{
    width:80px;
}
.thumbnaillandscape{
    height:80px;
}
.thumbnail{
    float: left;
}

.image img{
    max-width:480px;
    max-height:480px;
}